@model SistemaRH.Models.Capacitacion

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de que quieres eliminar esta capacitacion?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Desde)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Desde)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Hasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Hasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Institucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Institucion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
