@model SistemaRH.Models.Candidatos

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear Candidato</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puesto" class="control-label"></label>
                <select asp-for="Puesto" class="form-control">
                    @foreach (var itemd in ViewBag.puest)
                    {
                        <option value="@itemd">@itemd</option>
                    }
                </select>
                <span asp-validation-for="Puesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <select asp-for="Departamento" class="form-control">
                    @foreach (var itemd in ViewBag.dep)
                    {
                        <option value="@itemd">@itemd</option>
                    }
                </select>
                <span asp-validation-for="Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Competencias" class="control-label"></label>
                <select asp-for="Competencias" class="form-control">
                    @foreach (var itemd in ViewBag.comp)
                    {
                        <option value="@itemd">@itemd</option>
                    }
                </select>
                <span asp-validation-for="Competencias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacitacion" class="control-label"></label>
                <select asp-for="Capacitacion" class="form-control">
                    @foreach (var itemd in ViewBag.capa)
                    {
                        <option value="@itemd">@itemd</option>
                    }
                </select>
                <span asp-validation-for="Capacitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experiencia_laboral" class="control-label"></label>
                <input asp-for="Experiencia_laboral" class="form-control" />
                <span asp-validation-for="Experiencia_laboral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma_dominante" class="control-label"></label>
                <select asp-for="Idioma_dominante" class="form-control">
                    @foreach (var itemd in ViewBag.idi)
                    {
                        <option value="@itemd">@itemd</option>
                    }
                </select>
                <span asp-validation-for="Idioma_dominante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma_secundario" class="control-label"></label>
                <select asp-for="Idioma_secundario" class="form-control">
                    @foreach (var itemd in ViewBag.idi2)
                    {
                        <option value="@itemd">@itemd</option>
                    }
                </select>
                <span asp-validation-for="Idioma_secundario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recomendacion" class="control-label"></label>
                <input asp-for="Recomendacion" class="form-control" />
                <span asp-validation-for="Recomendacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

