@model SistemaRH.Models.Candidatos

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borrar</h1>

<h3>¿Estas seguro de que quieres borrar este candidato?</h3>
<div>
    <h4>Candidatos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puesto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competencias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competencias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacitacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Experiencia_laboral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Experiencia_laboral)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma_dominante)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idioma_dominante)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idioma_secundario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idioma_secundario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recomendacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
