@model IEnumerable<SistemaRH.Models.Candidatos>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h4 class="card-title">Gestion de Candidatos</h4>
</div>
<p>
    <a asp-action="Create">Agregar candidato</a>&ensp;&ensp;<a asp-action="Completa">Mostrar mas datos...</a>&ensp;&ensp;<a asp-action="Imprimir">Generar Reporte</a>
</p> 
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Departamento</th>
                <th>Salario</th>
                <th>Idioma dominante</th>
                <th>Recomendacion</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idioma_dominante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recomendacion)
                </td>
                @if (item.Estado == true)
                {
                    <td class="text-success" style="word-wrap: break-word;">
                        @Html.DisplayName("Aceptado")
                        <i class="ti-arrow-up"></i>
                    </td>
                }
                else if (item.Estado == false)
                {
                    <td class="text-danger" style="word-wrap: break-word;">
                        @Html.DisplayName("Denegado")
                        <i class="ti-arrow-down"></i>
                    </td>
                }
            <td>
                <a class="btn btn-warning btn-rounded btn-fw" asp-action="Edit" asp-route-id="@item.Id" value="Editar">Editar</a>
                <a class="btn btn-success btn-rounded btn-fw" asp-action="Details" asp-route-id="@item.Id" value="Details">Detalles</a>
                <a class="btn btn-danger btn-rounded btn-fw" asp-action="Delete" asp-route-id="@item.Id" value="Eliminar">Eliminar</a>
            </td>
            </tr>
            }
        </tbody>
    </table>
</div>
