@model IEnumerable<SistemaRH.Models.Puestos>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h4 class="card-title">Gestion de Puestos</h4>
</div>
<p>
    <a asp-action="Create">Agregar Puesto</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nivel de Riesgos</th>
                <th>Salario Minimo</th>
                <th>Salario Maximo</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nivel_Riesgo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Minimo_Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maximo_Salario)
                    </td>
                    @if (item.Estado == true)
                    {
                        <td class="text-success">
                            @Html.DisplayName("Activo")
                            <i class="ti-arrow-up"></i>
                        </td>
                    }
                    else if (item.Estado == false)
                    {
                        <td class="text-danger">
                            @Html.DisplayName("Inactivo")
                            <i class="ti-arrow-down"></i>
                        </td>
                    }
                    <td>
                        <a class="btn btn-warning btn-rounded btn-fw" asp-action="Edit" asp-route-id="@item.Id" value="Editar">Editar</a>
                        <a class="btn btn-danger btn-rounded btn-fw" asp-action="Delete" asp-route-id="@item.Id" value="Eliminar">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
