@model IEnumerable<SistemaRH.Models.Empleados>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h4 class="card-title">Gestion de Empleados</h4>
    <p>Realiza la busqueda o selecciona la fecha para realizar el reporte...</p>
</div>

<form asp-action="Index3" method="post">
    <div class="form-actions no-color d-flex justify-content-between">
        <input type="search" name="busqueda" value="" class="form-control" placeholder="Buscar...">
        <input type="date" name="start" value="" class="form-control" placeholder="Fecha desde...">
        <input type="date" name="end" value="" class="form-control" placeholder="Fecha hasta...">
        <input type="submit" value="Buscar" class="btn btn-outline-success form-control" />
    </div>
</form>

@using (Html.BeginForm("Export", "Empleados", FormMethod.Post))
{
    <input type="hidden" name="GridHtml" />
    <input type="submit" id="btnSubmit" value="Reporte o Exportar tabla..." />
}

<div class="table-responsive" id="Grid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>Fecha de Ingreso</th>
                <th>Departamento asignado</th>
                <th>
                    @Html.DisplayNameFor(model => model.Puesto)
                </th>
                <th>
                    Salario mensual
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a></a>
                        @Html.DisplayFor(modelItem => item.Cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Puesto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario_Mensual)
                    </td>
                    @if (item.Estado == true)
                    {
                        <td class="text-success">
                            @Html.DisplayName("Activo")
                            <i class="ti-arrow-up"></i>
                        </td>
                    }
                    else if (item.Estado == false)
                    {
                        <td class="text-danger">
                            @Html.DisplayName("Inactivo")
                            <i class="ti-arrow-down"></i>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#Grid").html());
        });
    });
</script>